<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Cat Nounou</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
</head>
<body>
	<header>
  		<div class="navbar">
        <div class="navbar-logo">
          <img src="logo2.png">
        </div>
  			<ul>
  				<li class="active"><a href="#">Accueil</a></li>
  				<li><a href="#">A propos</a></li>
  				<li><a href="#">Nous contacter</a></li>
          <!-- <li>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" id="navbarDropdownMenuLink1">
                <img src="logo.png">
              </a>
              <ul>
                <a class="dropdown-item" href="#">Mon Profil</a>
                <a class="dropdown-item" href="#">Se déconnecter</a>
              </ul>
            </div>
          </li> -->
          <li><img class="avatar" src="img_avatar.png"></li>
  			</ul>
  		</div>
      <div class="title">
        <h1>CAT NOUNOU</h1>
      </div>
      <div class="button">
        <a href="#" class="btn">VOIR LA VIDEO</a>
        <a href="#" class="btn">EN SAVOIR PLUS</a>
      </div>

      <div class="scrolldown">
        <img src="scroll-down-icon.png">
      </div>

	</header>
  <p>
  <br>
  <br>
  <br>
  </p>
  
  <content> 
  <h2>Les nounous :</h2>

  
  <p>
  <br>
  <br>
  <br>
  </p>

<div>
    <div class="card card-unit">
      <img src="home1.jpg" alt="Home1" style="width:100%">
      <div class="polaroid">
        <h4><b>Martine</b></h4> 
        <p>Paris (75)</p> 
      </div>
    </div>
    <div class="card card-unit">
      <img src="home2.jpg" alt="Home1" style="width:100%">
      <div class="polaroid">
        <h4><b>Jade</b></h4> 
        <p>Cergy (95)</p> 
      </div>
    </div>
    <div class="card card-unit">
      <img src="home3.jpeg" alt="Home1" style="width:100%">
      <div class="polaroid">
        <h4><b>Alfred</b></h4> 
        <p>Viry-Chatillon (91)</p> 
      </div>
    </div>
  </div>

<p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <br>
</p>

  <h2>Nos offres à la carte :</h2>

  <div class="wrapper">
      <input type="radio" name="tab" id="tab-1" checked>
        <label for="tab-1">DOUILLET</label>
      <input type="radio" name="tab" id="tab-2" checked>
        <label for="tab-2">AVENTURE</label>
      <input type="radio" name="tab" id="tab-3" checked>
        <label for="tab-3">LUXE</label>
    <div class="content">
      <article class="tab-1">Verbum hoc captum libere cap angeli. To induci ad frigus de colore me urgeat. Vestrae fecisse innatae totaque dicamne vel ego. Si otii post ente ad toga puto inge. Conservat concludam vul jactantur sum naturalis. Attendamus immortalem ea dissimilem voluntates de to et. Et ab ac falsitatem difficilia id existentia reducantur imaginando possidendi. Imaginandi contrarium usu inchoandum una sui imaginatio scripturis pla occasionem.</article>
      <article class="tab-2">Incrementi quaerantur si faciliorem ac detorqueat. Novas si puram gi vulgo. Facit bonus re credo ut de major inter ob. Eaedem educta ac is dubito vitiis. Durationem tractandae perspicuum to at ad inusitatis objectivam ab. Co ac ad innumeras ac consuetae cunctatus purgantur dormienti. Jam uno invenero extensum nocturna pluribus dei falleret confidam. Virorum seipsum vim quomodo qua inferri saporis memores.</article>
      <article class="tab-3">Calescere occurrere mei respondeo expendere nec hoc fruebatur detrahere. Spatium invenit ego iii quomodo quaeque nam vix deceret. De ea intelligo supponant du concludam. Hominem cum qui uti hoc incipit creatus. Vi cumque genera si optima. Mea una attingebam indubitati faciliorem vim. Alligatus spectatum continent id separatum de ii cerebella remotiora. Ibidem varias finiti ii certas factas lumine an ha. Obfirmata referenda dat quibusnam vul vos dum confirmet.</article>
    </div>
  </div>

  </content>
</body>
</html>